{{>layout/header}}
<p class="text-muted"><strong>AVALIADOR DE SEGURANÇA DE SENHA</strong></p>
<div class="well">
    <div class="row">
        <div class="form-group col-xs-3">
            <input class="form-control" type="password" placeholder="Senha" name="password" id="password">
        </div>
    </div>
    <div class="form-group">
        <span class="label label-default">{{strength.score}}</span>
        <span class="label label-danger">{{strength.complexity}}</span>
    </div>
</div>
{{>layout/footer}}