<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Password Meter</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <p class="text-muted"><strong>AVALIADOR DE SEGURANÇA DE SENHA</strong></p>
    <div class="well">
        <div class="row">
            <div class="form-group col-xs-3">
                <input class="form-control"
                       autocomplete="off"
                       onkeyup="measure(this.value);"
                       type="password"
                       placeholder="Senha"
                       name="password"
                       id="password">
            </div>
        </div>
        <div class="form-group">
            <span class="label label-default" id="score"></span>
            <span class="label label-danger" id="complexity"></span>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/password-meter.js"></script>
</body>
</html>